@use "./variables" as *;
@use "./mixins" as *;

.contact {
	background: linear-gradient($bg-gradient);
	h2 {
		padding: 1.6em 0;
		text-align: center;
	}
	h3 {
		padding: 1.6em 0.3em;
		text-align: center;
	}
	.contact--mail {
		@include mail;
	}
	.contact--mail:hover {
		color: $accent-font-color;
	}
	form {
		display: flex;
		flex-direction: column;
		margin: 2em auto 0 auto;
		width: 320px;
		@include contact-form;
	}
	#msg-status {
		padding: 1em;
		height: 2em;
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.contact {
		padding: 0 25%;
		form {
			width: 500px;
		}
	}
}
