@use "./variables" as *;
@use "./mixins" as *;

.projects {
	padding-bottom: 5em;
	background: linear-gradient($bg-gradient);
	h2 {
		padding: 1.6em 0;
		text-align: center;
	}
	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		.card {
			@include card;
		}
		.card:nth-of-type(2){
			background-image: url(../assets/memoryImg3.png);
		}
		.card:nth-of-type(1){
			background-image: url(../assets/ofertaTomkola1.png);
		}
		.card:nth-of-type(3){
			background-image: url(../assets/tomkola1.png);
		}
		.card:nth-of-type(1),
		.card:nth-of-type(3) {
			transform: scale(0.9);
		}
	}
}
@media (min-width: 1024px) {
	.projects {
		.cards {
			flex-direction: row;
		}
	}
}
