@use "./variables" as *;
@use "./mixins" as *;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient($bg-gradient);
}
html {
	font-size: 62.5%;
}
ul {
	list-style: none;
}
.active {
	color: $accent-font-color;
}
h1,
h2,
h3,
h4,
p,
ul,
.about__img,
form,
.fa-bars {
	position: relative;
	z-index: 1;
}
